@import "./varialbles.less";
.content__detailspage {
  .details__breadcrumb {
    margin-bottom: 16px;
    color: @dark-text-color;
    .ant-breadcrumb-link {
      cursor: pointer;
      transition: all 0.3s;
      color: @dark-text-color;
    }
    .ant-breadcrumb-separator {
      color: inherit;
    }
    .ant-breadcrumb-link:hover {
      opacity: 0.7;
    }
  }
  .details__name {
    font-size: 32px;
    font-weight: 700;
    color: @dark-text-color;
  }
  .details__banner {
    margin-top: 30px;
    .details__banner-src {
      width: 100%;
      border-radius: 4px;
    }
  }
  .details__title {
    padding: 60px 0 20px;
    font-size: 28px;
    font-weight: 700;
    color: @dark-text-color;
  }
  .details__info {
  }
  .details__tutorials {
  }
  .comment__btn {
    width: 100%;
    height: 62px;
    margin-top: 40px;
    color: @dark-text-color;
    background-color: @dark-background-color;
  }
  .details__navigation {
  }
}
.details__image-demo {
  display: flex;
  margin: 40px -8px 0;
  .image-demo__item {
    padding: 0 8px;
    width: 33.33333%;
  }
  .image-demo__src {
    width: 100%;
    border-radius: 4px;
  }
}

.details__info {
  .info__desc {
    font-size: 16px;
    color: @dark-text-color;
  }
}
.details__tutorials {
  .tutorials {
    font-size: 16px;
    color: @dark-text-color;
  }
}
.details__download {
  width: 500px;
  height: 80px;
  margin: 20px 0;
  display: flex;
  border-radius: 10px;
  align-items: center;
  justify-content: space-between;
  background-color: #252526;
  border: 1px solid @dark-border-color;
  .download__file {
    width: 50px;
    height: 50px;
    display: flex;
    min-width: 50px;
    font-size: 18px;
    margin: 0 16px;
    border-radius: 10px;
    align-items: center;
    color: @dark-text-color;
    justify-content: center;
    background-color: @dark-background-color;
  }
  .download__src {
    max-width: 65%;
    font-size: 14px;
    height: 22px;
    overflow: hidden;
    margin-right: auto;
    color: @dark-text-color;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: horizontal;
  }
  .download__btn {
    cursor: pointer;
    margin-right: 16px;
    border-radius: 10px;
    background-color: @dark-link-color;
    .download__btn-icon {
      font-size: 18px;
      padding: 16px;
      color: @dark-text-color;
    }
  }
}

.details__navigation-button {
  right: 0;
  position: fixed;
  i {
    cursor: pointer;
    font-size: 16px;
    margin-top: -5px;
    color: @dark-text-color;
    padding: 10px 20px 10px 10px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: @dark-search-bg-color;
  }
}
.details__navigation {
  right: 0;
  top: 60px;
  height: 100%;
  padding: 25px;
  width: 70%;
  position: fixed;
  transition: all 0.3s;
  transform: translateX(100%);
  background-color: @dark-background-color;
  .heading {
    display: flex;
    margin-top: -10px;
    align-items: center;
    color: @dark-text-color;
    justify-content: space-between;
    .heading-text {
      color: inherit;
    }
    .icon {
      cursor: pointer;
      padding: 10px;
      margin-right: 10px;
      i {
        font-size: 14px;
      }
    }
  }
  .link {
    display: block;
    margin: 6px 0;
    color: @dark-text-color;
  }
}

.comments {
  padding: 0;
  top: 20px;
  background-color: @dark-background-color;
  .ant-modal-content {
    background-color: @dark-background-color;
  }
  .ant-modal-header {
    border-bottom: none;
    background-color: @dark-background-color;
    .ant-modal-title {
      color: @dark-text-color;
    }
  }
  .ant-modal-body {
    padding: 0 24px 0;
    background-color: @dark-background-color;
  }
  .ant-modal-footer {
    background-color: @dark-background-color;
  }
  .comments__list {
    padding-left: 0;
    max-height: 300px;
    overflow-y: scroll;
    list-style-type: none;
    .comments__item {
      margin: 8px 0;
      border-radius: 6px;
      padding-bottom: 20px;
      background-color: @dark-search-bg-color;
      .item__group {
        display: flex;
        padding: 10px;
        align-items: center;
      }
      .item__group-reply {
        display: none;
        .item__sub-comments {
          list-style-type: none;
          padding-left: 58px;
          .sub-comments__item {
            display: flex;
            margin: 4px 0 ;
            align-items: center;
          }
        }
        .item__post-comment {
          margin-top: 20px;
          padding-right: 20px;
          padding-left: 50px;
          .post-comment__input {
            padding: 8px;
            outline: none;
            color: @dark-text-color;
            border: 1px solid #a3a3a3;
            background-color: @dark-search-bg-color;
          }
          .post-comment__btn {
            width: 67px;
            margin-top: 8px;
            margin-left: calc(100% - 67px);
          }
        }
      }
      .item__avt {
        width: 40px;
        border-radius: 50%;
      }
      div {
        margin-left: 10px;
        .item__name {
          font-weight: 600;
          color: @dark-text-color;
        }
        .item__content {
          color: @dark-text-color;
        }
        .item__reply {
          display: flex;
          margin-top: 6px;
          cursor: pointer;
          user-select: none;
          align-items: center;
          color: @dark-text-color;
          .reply__icon {
            font-size: 14px;
            margin-right: 10px;
          }
        }
      }
    }
  }
  .comments__input {
    outline: none;
    border: none;
    margin-top: 20px;
    color: @dark-text-color;
    background-color: @dark-background-color;
  }
}

// light mode
.content__detailspage.light {
  .details__breadcrumb {
    color: @light-text-color;
    .ant-breadcrumb-link {
      color: @light-text-color;
    }
  }
  .details__name {
    color: @light-text-color;
  }

  .details__title {
    color: @light-text-color;
  }
  .comment__btn {
    color: @light-text-color;
    background-color: @light-background-color;
  }
  .details__info {
    .info__desc {
      color: @light-text-color;
    }
  }
  .details__tutorials {
    .tutorials {
      color: @light-text-color;
    }
  }
  .details__download {
    background-color: #fefefe;
    border-color: @light-border-color;
    box-shadow: 0 10px 8px -8px rgb(0 0 0 / 12%);
    .download__file {
      color: @light-text-color;
      background-color: #f1f1f0;
    }
    .download__src {
      color: @light-text-color;
    }
    .download__btn {
      background-color: @light-link-color;
      .download__btn-icon {
        color: @dark-text-color;
      }
    }
  }
  .details__navigation-button {
    i {
      color: @light-text-color;
      background-color: @light-search-bg-color;
    }
  }
  .details__navigation {
    background-color: @light-background-color;
    .heading {
      color: @light-text-color;
    }
    .link {
      color: @light-text-color;
    }
  }
}

.comments.light {
  background-color: @light-background-color;
  .ant-modal-content {
    background-color: @light-background-color;
  }
  .ant-modal-header {
    background-color: @light-background-color;
    .ant-modal-title {
      color: @light-text-color;
    }
  }
  .ant-modal-body {
    background-color: @light-background-color;
  }
  .ant-modal-footer {
    background-color: @light-background-color;
  }
  .comments__list {
    .comments__item {
      background-color: @light-search-bg-color;
      .item__group-reply {
        .item__post-comment {
          .post-comment__input {
            color: @light-text-color;
            border: 1px solid #a3a3a3;
            background-color: @light-search-bg-color;
          }
        }
      }
      div {
        .item__name {
          color: @light-text-color;
        }
        .item__content {
          color: @light-text-color;
        }
        .item__reply {
          color: @light-text-color;
        }
      }
    }
  }
  .comments__input {
    color: @light-text-color;
    background-color: @light-background-color;
  }
}
